<div style="width: 100%;position: fixed;top: 0;left: 0;z-index: 999">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="#">VideoGamesRyoko</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mx-4" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">error 2</a>
        </li>
        <li class="nav-item active mx-2">
          <a class="nav-link" href="#">Notros <span class="sr-only">(Acerca de)</span></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Registrate</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-md-8">
      <div class="slider-frame">
        <ul>
          <li><img src="../assets/img/img1.jpg" alt=""></li>
          <li><img src="../assets/img/img4.jpg" alt=""></li>
          <li><img src="../assets/img/img5.webp" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
 <div class="dropdown">
  <button class="btn btn-secondary mx-3" type="button">
    Requisitos Altos
  </button>
  <button class="btn btn-secondary mx-3" type="button">
    Requisitos Medios
  </button>
  <button class="btn btn-secondary mx-3" type="button">
    Requisitos Bajos
  </button>
</div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <section>
      <img src="../assets/img/op1.jpg" alt="">
      <img src="../assets/img/op2.jpg" alt="">
      <img src="../assets/img/op3.jpg" alt="">
      <img src="../assets/img/op4.jpg" alt="">
      <img src="../assets/img/op5.jpg" alt="">
      <img src="../assets/img/op6.webp" alt="">
      <img src="../assets/img/op7.jpg" alt="">
    </section>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-10 mx-auto">
    <section>
      <img src="../assets/img/op11.jpg" alt="">
      <img src="../assets/img/op13.jpg" alt="">
      <img src="../assets/img/op14.webp" alt="">
      <img src="../assets/img/op15.webp" alt="">
      <img src="../assets/img/op16.jpg" alt="">
    </section>
  </div>
</div>

</div>


<footer class="bg-dark text-white py-2 mt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h4>Contacto</h4>
        <p>Correo electrónico: lgm.bocon@yavirac.edu.ec</p>
        <p>Teléfono: 0963218526</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Información de la empresa</h4>
        <p>123 Calle Principal</p>
        <p>Ciudad, Quito</p>
        <p>Teléfono: +1 (555) 123-4567</p>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>&copy; 2023 VideoGamesRyoko. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>